body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkslategray; /* CHANGED COLOR */
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover effect */
li a:hover {
  background-color: white;
  color: navy;
}

h1 {
  color: navy;
  text-align: center;
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

#website {
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  border-radius: 12px;
}

#special {
  background-color: white;
  border: 2px dashed navy;
  padding: 12px;
}

.parallax {
  background-image: url("image1.jpg");
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxtwo {
  background-image: url("image2.jpg");
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
